name: ubuntu
version: __RELEASE__
summary: The Ubuntu container image maintained by Canonical
description: |
  Ubuntu is a Debian-based Linux operating system that runs from the desktop to the cloud, to all your internet connected things.
  It is the world's most popular operating system across public clouds and OpenStack clouds.
  It is the number one platform for containers; from Docker to Kubernetes to LXD, Ubuntu can run your containers at scale.
  Fast, secure and simple, Ubuntu powers millions of PCs worldwide.

build-base: __BUILD_BASE__
base: bare
platforms:
  amd64:
  arm64:
  armhf:
  ppc64el:
  riscv64:
  s390x:

entrypoint-command: '[ /bin/bash ]'

parts:
  chroot:
    plugin: nil
    source: https://git.launchpad.net/cloud-images/+oci/ubuntu-base
    source-type: git
    source-branch: __SUITE__-__RELEASE__
    source-depth: 1
    override-build: |
      mkdir chroot
      pushd chroot
      tar -xf ../ubuntu-__SUITE__-oci-${CRAFT_ARCH_BUILD_FOR}-root.tar.gz
      popd
      mv chroot/* ${CRAFT_PART_INSTALL}
